<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>BharatBazar</title>   
       <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
       <link rel="stylesheet" href="/static/amacln/css/style.css">

    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="nav-logo border">
                    <div class="logo"></div>
                </div>
                <div class="nav-address border">
                    <p class="add-first ">Deliver to</p>
                   <div class="add-icon">
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    <p class="add-sec">India</p>
                    </div>
                </div> 
                <div class="men border">
                    <div class="title">
                        <a>MEN</a>
                    </div>
                </div>
                <div class="women border">
                    <div class="title">
                        <a>WOMEN</a>
                    </div>
                </div>
                <div class="kids border">
                    <div class="title">
                        <a>KIDS</a>
                    </div>
                </div>
                <div class="homeliving border">
                    <div class="title">
                        <a>HOME & LIVING</a>
                    </div>
                </div>
                <div class="beauty border">
                    <div class="title">
                        <a >BEAUTY</a>
                    </div>
                </div>
                <div class="nav-search border">
                    <select class="search-select">
                        <option>All</option>
                    </select>
                        <input placeholder="Search BharatBazar" class="search-input">
                        <div class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                </div>
                <div class="nav-signin border">
                    <div class="user-logo"><i class="fa-regular fa-user fa-xl"></i></div>
                    <p class="user"><span>User</span></p>
                </div>
                <div class="nav-cart border">
                    <div class="cart-logo"><i class="fa-solid fa-briefcase fa-xl"></i></div>
                    <p class="cart"><span>Cart</span></p>
                </div>
            </div>
            <div class="panel">
                <div class="panel-all border">
                    <i class="fa-solid fa-bars"></i>
                    All
                </div>
                <div class="panel-ops">
                    <p id="p1">Recent Deals</p>
                    <p id="p2">Customer Service</p>
                    <p id="p3">Registry</p>
                    <p id="p4">Gift & Cards</p>
                    <p id="p5">Sell</p>
                </div>
                <div class="panel-deals border">
                    Shop Deals in Electronics
                </div>
            </div>
        </header>
        <div class="hero-section">
        </div>
        <div class="shop-section">
            <div class="sec1-box1 box">
                <div class="sb1"><h3>Women's Ethnic Wear
                    50-80% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec1-box2 box">
                <div class="sb2"><h3>Women's Active Wear
                    30-70% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec1-box3 box">
                <div class="sb3"><h3>Western Wear
                    40-80% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec1-box4 box">
                <div class="sb4"><h3>Women's Work Wear
                    40-70% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec1-box5 box">
                <div class="sb5"><h3>Women's Sleep Wear
                    30-60% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec1-box6 box">
                <div class="sb6"><h3> Lingerie
                    UP TO 70% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
        </div>
        <br>

        <div class="shop-section2">
            <div class="sec2-box1 box">
                <div class="sb1"><h3>Men's Ethnic Wear
                    50-80% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec2-box2 box">
                <div class="sb2"><h3>Men's Sports Wear
                    30-70% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec2-box3 box">
                <div class="sb3"><h3>WFH Casual Wear
                    40-80% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec2-box4 box">
                <div class="sb4"><h3>Men's Office Wear
                    40-70% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec2-box5 box">
                <div class="sb5"><h3>Men's Jeans-Tshirt Wear
                    30-60% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec2-box6 box">
                <div class="sb6"><h3> Innerwear
                    UP TO 70% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
        </div>
        <br>
        <div class="shop-section3">
            <div class="sec3-box1 box">
                <div class="sb1"><h3>Footwear
                    50-80% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec3-box2 box">
                <div class="sb2"><h3>Luggage & Bags
                    30-70% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec3-box3 box">
                <div class="sb3"><h3>Watches
                    40-80% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec3-box4 box">
                <div class="sb4"><h3>Beauty
                    40-70% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec3-box5 box">
                <div class="sb5"><h3>Sunglasses & Frames
                    30-60% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
            <div class="sec3-box6 box">
                <div class="sb6"><h3> Phone
                    UP TO 30% OFF
                    Shop Now
                </h3>                                          
                </div>
            </div>
        </div>

       </div>
       <footer>
        <div class="foot-panel1">
            Back to Top
        </div>
        <div class="foot-panel2">
            <ul>
                <p> Get to Know Us</P>
                <a> About Us</a>
                <a> Careers</a>
                <a> Press Releases</a>
                <a>Amazon Science</a>
            </ul>
            <ul>
                <p> Get to Know Us</P>
                <a> About Us</a>
                <a> Careers</a>
                <a> Press Releases</a>
                <a>Amazon Science</a>
            </ul>
            <ul>
                <p> Get to Know Us</P>
                <a> About Us</a>
                <a> Careers</a>
                <a> Press Releases</a>
                <a>Amazon Science</a>
            </ul>
            <ul>
                <p> Get to Know Us</P>
                <a> About Us</a>
                <a> Careers</a>
                <a> Press Releases</a>
                <a>Amazon Science</a>
            </ul>
        </div>
        <div class="foot-panel3">
            <div class="logo1"></div>
        </div>
        <div class="foot-panel4">
            <div class="pages">
                <a>Conditions of Use</a>
                <a>Privacy Notice</a>
                <a>Your Ads privacy Choices</a>
            </div>
            <div class="copyright">© 1996-2024, BharatBazar.com, Inc. or its affiliates</div>
        </div>

       </footer>
    </body>
</html>